# HIVEAPI
PORT=80
SESSION_DIR=./sessions
API_KEY= VTrDlB3zWqdxAKmcmFRS1p1lRNbVj09F7sqlIrncqL6yFieK2bEz9LjtLIRVTrFS


#GLOBAL CONFIG
#IGNORE_GROUPS=true


#POSTGRES
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSL=false
DB_POOL_MAX=20
DB_IDLE_TIMEOUT=30000
DB_CONNECT_TIMEOUT=5000
DB_POOL_MIN=10